<div class="w-full h-full" id="cadastro-container">
  <app-modal
    title="Atenção!"
    [open]="modalOpen"
    (OnCloseEvent)="handleCloseModal()"
    >{{ modalMessage }}</app-modal
  >

  <div id="title">
    <h1>Redefinir senha</h1>
  </div>

  <form
    id="cadastroForm"
    name="cadastroForm"
    [formGroup]="form"
    (ngSubmit)="onLoginFormSubmit(form)"
  >
    <div id="inputs-container">
      <upx-input-text
        [label]="'E-mail'"
        [maxLength]="emailMaxLength"
        [controlName]="'email'"
        [formGroup]="form"
      />
      <upx-input-text
        [label]="'Nova senha'"
        [maxLength]="passwordMaxLength"
        [controlName]="'password'"
        [formGroup]="form"
        type="password"
      />
      <upx-input-text
        [label]="'Confirme sua nova senha'"
        [maxLength]="passwordMaxLength"
        [controlName]="'password'"
        [formGroup]="form"
        type="password"
      />
    </div>

    <div id="buttons-container">
      <button
        id="btn-reset-password"
        class="btn"
        type="sumbmit"
        [disabled]="!form.valid"
      >
        Redefinir senha
      </button>

      <button id="btn-back" class="btn" type="button" (click)="back()">
        Voltar
      </button>
    </div>
  </form>
</div>
