#map {
  position: relative;
}


.popup-content {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.popup-content h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.popup-content p {
  margin: 5px 0;
}

.popup-rating {
  display: flex;
  align-items: center;
}
