
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import "./assets/scss/fuse.scss";

//? Verificar se faz sentido usarmos o theming
@import "primeflex/themes/primeone-light.css";
// @import "primeflex/themes/primeone-dark.css";


//Variaveis globais
$font-size-base: 12px;
:root {
  --primary-color: #34619B;
  --secondary-color: #f2f2f2;
  --font-size-base: 12px;
}


